<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Draw and Save</title>
    <link rel="stylesheet" type="text/css" href="static/styles/style.css">
</head>
<body>
    <h2>Draw Here</h2>
    <canvas id="drawCanvas" width="500" height="300"></canvas>
    <br>
    <button id="clearButton">Clear</button>
    <button id="confirmButton">Confirm &amp; Save</button>
    
    <p id="maximaCode">Awaiting Input</p>

    <img id="savedImage" alt="Your drawing will appear here" style="margin-top: 20px; max-width: 100%;">

    <script src="https://cdn.socket.io/4.6.1/socket.io.min.js"></script>
    <script type="module" src="static/scripts/script.js"></script>
</body>
</html>